.container{
  height: auto;
  min-height: 100vh;
  padding-bottom: 10rem;
  background: var(--redGray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1{
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--white);
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.container h2{
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--white);
}
