.container {
    width: 100rem;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.title {
    background: black;
    color: var(--black);
}

.tableBlack {
    background: rgb(102, 7, 7);
    color: white;
    font-size: 2rem;
}

.tableWhite {
    background: rgb(187, 183, 183);
    color: black;
    font-size: 2rem;
}

thead tr {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
    color: black;
    font-size: 2rem;
}