.card_student {
    background-color: var(--red);
    color: #fff;
    width: 30%;
    padding: 20px;
    border-radius: 2%;
    transition: all .4s ease;
    margin-top: 3rem;
}

.card_student .icons{
    display: flex;
    align-items: flex-end;
}

.card_student svg{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    cursor: pointer;
}
.card_student svg:hover{
    color: rgb(157, 157, 157);
}

.card_student:hover {
    transform: scale(1.1);
}

.card_student h3 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.card_student p {
    font-size: 2rem;
}

.button_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button_container button {
    border: none;
    padding: 5px 20px;
    font-size: 1.5rem;
    border-radius: 5%;
    margin-top: 10px;
    color: var(--red);
    font-weight: bold;
}

@media (max-width: 600px) {
    .card_student {
        width: 90%;
    }
}
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.formContainer label{
    font-size: 2rem;
    width: 30rem;
    margin-bottom: 3rem;
}
.formContainer_input{
    width: 30rem;
    height: 4rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    background: rgb(255, 255, 255);
    border: 1px solid var(--red);
    margin-bottom: 3rem;
}
.btn_action{
    display: flex;
    justify-content: space-between;
    width: 220px;
}
.btn_action button{
    background: var(--red);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    transition: all ease 0.5s;
}
.btn_action button:hover{
    transform: scale(1.1);
}
.btn_action button:active{
    transform: scale(0.9);
}
