.container {
    width: 100rem;

}

h2 {
    text-align: center;
}

.title {
    background: black;
    color: var(--white);
}

.tableBlack {
    background: black;
    color: var(--white);
    font-size: 2rem;
}

.tableWhite {
    background: var(--white);
    color: black;
    font-size: 2rem;
}

th {
    text-align: center;
}

td {
    color: black;
    font-size: 2rem;
}

.findButton {
    width: 12.1rem;
    height: 4rem;
    background: var(--red);
    border: none;
    color: var(--white);
    font-size: 2rem;
    border-radius: 1rem;
    display: block;
    transition: all ease 0.2s;
    margin-bottom: 50px;
}

.findButton:hover {
    background: var(--redLight);
    transform: scale(1.1);
}