.inputName {
    width: 45.6rem;
    height: 4.5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
    margin-top: 13rem;
    margin-bottom: 13rem;
    background: rgba(207, 190, 190, 0.867);
}

.findButton {
    width: 12.1rem;
    height: 4rem;
    background: var(--red);
    border: none;
    color: var(--white);
    font-size: 2rem;
    border-radius: 1rem;
    display: block;
    transition: all ease 0.2s;
}

.findButton:hover {
    background: var(--redLight);
    transform: scale(1.1);
}

.findButton:active {
    background: var(--redDark);
    transform: scale(0.9);
}

.infoData {
    margin-top: 10rem;

}